/* MEDIA QUERY STYLES */

@media screen and (max-width: 767px)
	.sign
		//display: block
		height: 100vh
		background-position: center
		display: flex
		h2
			transform: rotate(0deg)
			position: relative
			margin: 50% auto
			align-items: center
		&:hover
			transform: none

	.sign4
		order: 1

	.sign2
		order: 2

	.sign3
		order: 2
