/* MEDIA QUERY STYLES */

@media screen and (max-width: 767px)
	.sign
		//display: block
		height: 20vh
		background-position: center
		h2
			transform: rotate(0deg)
			position: relative
			margin-left: 25px
