/* MEDIA QUERY STYLES */

@media screen and (max-width: 768px)
	.sign
		display: block
		height: 20vh
		background-position: center
		h2
			transform: rotate(0deg)
			position: relative
			bottom: 10px
			left: 20px
